@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

* {
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

@keyframes pulseSlow {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.85;
  }
}

.pulse-slow {
  animation: pulseSlow 3s ease-in-out infinite;
}

/* Rain animation */
.rain {
  width: 100%;
  height: 100%;
  background-image: repeating-linear-gradient(to bottom,
      rgba(255, 255, 255, 0.35),
      rgba(255, 255, 255, 0.35) 1px,
      transparent 1px,
      transparent 50px);
  animation: rain-fall 0.7s linear infinite;
  opacity: 0.6;
}

@keyframes rain-fall {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 0 50px;
  }
}